In [7]:
import pandas as pd
import spacy
import dateparser
import re

In [4]:
df = pd.read_csv("../data/data.csv")
df.head(1)

,ObjectId,Last,First,Description,Place,Yr,Homeland,Province,Long,Lat,HRV,ORG
0,1,AARON,Thabo Simon,An ANCYL member who was shot and severely inju...,Bethulie,1991.0,NaN,Orange Free State,25.97552,-30.50329,shoot|injure,ANC|ANCYL|Police|SAP

In [5]:
descriptions = df.Description.tolist()

In [14]:
date_pattern = "(\d{1,2} )*(January|February|March|April|May|June|July|August|September|October|November|December) \d{1,4}"

In [16]:
dates = []
for d in descriptions[:1]:
    print(d)
    matches = re.finditer(date_pattern, d)
    temp = []
    for m in matches:
        date_string = m.group()
        timeseries = dateparser.parse(date_string)
        temp.append((date_string, timeseries))

An ANCYL member who was shot and severely injured by SAP members at Lephoi, Bethulie, Orange Free State (OFS) on 17 April 1991. Police opened fire on a gathering at an ANC supporter's house following a dispute between two neighbours, one of whom was linked to the ANC and the other to the SAP and a councillor.
17 April 1991